/* ================================
UNIVERSAL SELECTOR (*)
================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================================
ELEMENT SELECTORS
================================ */
/* Body - ตั้
งค่า default ทั้
งเพจ */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #6b1bff;
    background-color: #b6b6b6;
}


/* ==============
Element Selectors
================*/

h1 {
  font-size: 2.5rem;
  color: #0025fa;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  color: #0b74f5;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.5rem;
  color: #2b6cb0;
  margin-bottom: 0.5rem;
}

p {
  line-height: 1.6;
  color: #000000;
  margin-bottom: 1rem;
}

a {
  color: #1428a0;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #4c00ff; 
  text-decoration: underline;
}